@model IEnumerable<Pedal.Models.Store>

@{
    ViewBag.Title = "Index";
}

<h2>Stores</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-success" })
    }
</p>
<table class="table table-striped" id="tdata">
    <thead class="thead-inverse">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCycle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Area) |
                    @Html.DisplayFor(modelItem => item.Address.City) |
                    @Html.DisplayFor(modelItem => item.Address.Country)
                </td>
                
                @if(User.IsInRole("Admin"))
                {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.StoreId }) |
                    @Html.ActionLink("Go To Store", "Details", new { id = item.StoreId })
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.StoreId })*@
                </td>
                }
                else
                {
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.StoreId }) |*@
                        @Html.ActionLink("Go To Store", "Details", new { id = item.StoreId })
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.StoreId })*@
                    </td>
                }

            </tr>

        }
    </tbody>



</table>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tdata').DataTable();
        })
    </script>
}
