@model IEnumerable<Pedal.Models.Cycle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="tdata">
    <thead>
        <tr>
            <th>
                Cycle Name
            </th>
            <th>
                Cycle Status
            </th>
            <th>
                Total Rented Hour
            </th>
            <th>
                Cycle Type
            </th>
            <th>
                Cost Per Hour (TK)
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CycleStatusType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentedHour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CycleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPerHour)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.CycleId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CycleId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CycleId })*@

                    @Html.ActionLink("Rent!", "Rent", "Manager", new { id = item.CycleId }, null)
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tdata').DataTable();
        })
    </script>
}
