@model Pedal.Web.Models.ViewModels.CashMemoViewModel

@{
    ViewBag.Title = "DailyStoreTransactionSummary";
}

<h2>Daily Transaction Summary</h2>

<table class="table table-striped" id="tdata">
    <thead>
        <tr>

            <th>
                Store Name
            </th>
            <th>
                Manager Name
            </th>
            <th>
                Total Cycle
            </th>
            <th>
                Total Transaction
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Stores)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Model.Customers.SingleOrDefault(b => b.Id == item.ManagerId).UserName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalCycle)
                </td>

                <td>
                    @Model.Transections.Where(x => x.StoreId == item.StoreId).Sum(x => x.TotalCost)

                </td>
                <td>
                    @Html.ActionLink("Details", "DailyTransactionAdmin", new { id = item.StoreId })
                </td>

            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tdata').DataTable();
        })
    </script>
}
