@model IEnumerable<Pedal.Models.Cycle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RentedHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoreId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RentedHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoreId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CycleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CycleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CycleId })
        </td>
    </tr>
}

</table>
