@model Pedal.Models.Booking

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<h3>Confirm your Booking. Is everything allright?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cycle
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle.Company.Name)
        </dd>

        <dt>
            Cycle Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle.CycleType)
        </dd>

        <dt>
            Store Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

        <dt>
            Total Rented Hour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle.RentedHour)
        </dd>

        <dt>
            Cost Per Hour
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cycle.CostPerHour)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Confirm Booking" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
