@model Pedal.Models.Cycle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cycle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Company Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            Cycle Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CycleType)
        </dd>

        <dt>
            Store Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

        <dt>
            Cycle Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CycleStatusType)
        </dd>

        <dt>
            Total Rented Time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentedHour) Hours
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CycleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
