@model IEnumerable<Pedal.Models.Booking>

@{
    ViewBag.Title = "Bookings";
}

<h2>Bookings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="tdata">
    <thead>
    <tr>

        <th>
            Cycle Name
        </th>

        <th>
            Booking Time
        </th>
        <th>
            Track ID
        </th>
       


        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Cycle.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingTrackId)
            </td>
           

            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.BookingId }) |*@
                @Html.ActionLink("Rent", "RentFromBooking", new { id = item.BookingId })
                @*@Html.ActionLink("Delete", "Delete", new { id=item.BookingId })*@
            </td>
        </tr>
    }
    </tbody>
    

</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tdata').DataTable();
        })
    </script>
}
