@model Pedal.Web.Models.ViewModels.StoreViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Managers</h2>

<p>
    @Html.ActionLink("Add New Manager", "AddManager", "Account", new { area = "" }, new { @class = "btn btn-success" })
</p>
<table class="table table-striped" id="tdata">
    <thead>
        <tr>
            <th>
                Manager Name
            </th>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Store Name
            </th>

            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.AppUsers)
        {
            <tr>
                <td>
                    @item.FirstName  @item.LastName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Model.Stores.SingleOrDefault(b => b.StoreId == item.StoreId).Name
                </td>







                <td>
                    @Html.ActionLink("Change Store", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tdata').DataTable();
        })
    </script>
}
